{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^express$",
    "^@trpc/(.*)$",
    "^drizzle-orm(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript"]
}
