@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 204 71% 41%;
    --chart-2: 28 100% 53%;
    --chart-3: 120 57% 40%;
    --chart-4: 0 69% 50%;
    --chart-5: 271 39% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 96.1%;
    --primary-foreground: 0 0% 3.9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 96.1%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 96.1%;
    --destructive: 358 42% 44%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25.1%;
    --input: 0 0% 25.1%;
    --ring: 0 0% 25.1%;
    --chart-1: 226 81% 49%;
    --chart-2: 160 100% 37%;
    --chart-3: 37 98% 50%;
    --chart-4: 273 100% 64%;
    --chart-5: 346 100% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
